In [1]:
import pandas as pd

df = pd.DataFrame(pd.read_excel("data.xlsx"))
l = list(df.columns[52:])
df = df.drop(l, axis = 1)

In [15]:
df

,Record ID,Visit ID,PT ID,Clinical F/U interval [d from CT],BMI,BMI >30,Sex,Age at CT,Tobacco,Alcohol abuse,...,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median)
0,8675,415,6669,907,37.7,Y,Male,73,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.242557,170.053192,58.717526,5473.561,35
1,2236,525,2915,359,30.1,Y,Female,55,NaN,NaN,...,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,52
2,5962,542,5321,412,28.1,N,Female,52,NaN,NaN,...,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,54
3,665,546,1934,2333,25.0,N,Male,60,Yes,NaN,...,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,57
4,478,580,1817,532,22.4,N,Male,88,Yes,NaN,...,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9218,9262,13510,10974,603,28.3,N,Male,52,No,NaN,...,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,38
9219,9287,13511,10975,564,23.4,N,Male,51,Yes,NaN,...,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,54
9220,956,13514,10978,614,43.6,Y,Female,63,No,NaN,...,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,45
9221,6097,13519,10982,365,26.9,N,Female,55,No,NaN,...,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,44
9222,8486,13523,10985,0,19.8,N,Male,61,NaN,NaN,...,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,54

In [3]:
l = list(df.columns[15:])
df_clinic_data = df.drop(l, axis = 1)
a = list(df.columns[:41])
df_tomography = df.drop(a, axis = 1)
b = list(df.columns[:15]) + list(df.columns[41:])
df_outcome = df.drop(b, axis = 1)

In [11]:
df_tomography.isna().sum()

L1_HU_BMD                                   47
TAT Area (cm2)                             132
Total Body                Area EA (cm2)    132
VAT Area (cm2)                             132
SAT Area (cm2)                             132
VAT/SAT     Ratio                          133
Muscle HU                                   28
 Muscle Area (cm2)                          28
L3 SMI (cm2/m2)                            152
AoCa        Agatston                         1
Liver HU    (Median)                        47
dtype: int64